<div class="section-header">
  <h1 class="section-title">Music</h1>
</div>

<div class="music-player-card">
  <iframe
    title="SoundCloud player"
    src="https://w.soundcloud.com/player/?url=https%3A//soundcloud.com/chillhopdotcom&auto_play=false&hide_related=false&show_comments=false&show_user=true&show_reposts=false&visual=true"
    allow="autoplay"
    scrolling="no"
    frameborder="0"
  ></iframe>
</div>
